.jumbo {
  background: #ffebee;
  height: 400px
}

.title {
  margin-top: 0px;
  padding-top: 20px
}

.survey {
  margin-top: 50px
}

p {
  font-size: 1.2rem
}

.choices {
  padding-right: 10px
}

.submit-button button {
  margin-top: 20px;
  margin-left: 0px
}